/*#34D1D1
#2F2235
#3F3244
#F2F2F2
#D1D2D3
#666666
#000000*/
/*font-family: 'Open Sans', sans-serif;*/
/* font-family: 'Smokum', cursive; */

* {
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 65px 70px;
  animation: drop-down 2s 1;
  /* animation: fade-in 2s 1; */
  /* opacity: 1; */
  /* transform: scale(1) */
  position: absolute;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drop-down {
  0% {
    bottom: 100vh;
  }
  100% {
    bottom: 16vh;;
  }
}

h1,
h2,
h3,
p,
hr {
  margin: 0;
}

.code-btn {
  margin-bottom: 100px;
  padding: 20px;
  width: 30%;
  background-color: #2F2235;
  color: #F2F2F2;
  font-size: 2.3vw;
  text-align: center;
  text-decoration: none;
}

.code-btn:hover {
  background-color: #3F3244;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 90px;
  background-color: #2F2235;
  color: #F2F2F2;
}

h1 {
  font-weight: 300;
  font-size: 4vw;
}

.h1-span {
  color: #34D1D1;
}

.student-name {
  font-size: 3vw;
  font-weight: 600;
}

.intro-video {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 30;
}

.intro-video-fade-out {
  animation: fade-out 2s 1;
  opacity: 0;
  z-index: -10;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header-hr {
  display: none;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 85px;
  width: 92%;
}

.section-h2 {
  font-family: 'Ewert', cursive;
  font-size: 3vw;
  font-weight: 300;
}

.white-russian {
  height: 100px;
  width: 100px;
}

.section-header hr {
  height: 0.5px;
  width: 45%;
  border: 0.5px dashed #A42920;
}

/*TABs*/

.tab {
  padding: 30px 25px 20px 25px;
  flex-grow: 2;
  background-color: #F1F1F2;
  border: 2px solid #FFFFFF;
  border-left: none;
  border-bottom: 2px dashed #A42920;
  color: #582f2d;
  /* font-family: 'Smokum', cursive; */
  font-family: 'Sancreek', cursive;
  font-size: 2.5vw;
  font-weight: 300;
  text-align: center;
  z-index: 0;
}

.tab:nth-of-type(5) {
  border-right: none;
}

.tab:nth-of-type(5).tab-active {
  border-right: 2px dashed #A42920;
  color: #A42920;
}

.tab:hover {
  cursor: pointer;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* .tab:nth-of-type(1):hover {
  background-image: url('./assets/Lebowski-tab.jpeg');
}

.tab:nth-of-type(2):hover {
  background-image: url('./assets/Walter-tab.jpg');
}

.tab:nth-of-type(3):hover {
  background-image: url('./assets/Donny-Tab.jpeg');
}

.tab:nth-of-type(4):hover {
  background-image: url('./assets/jesus-tab.jpg');
}

.tab:nth-of-type(5):hover {
  background-image: url('./assets/Maude-tab.jpeg');
} */

.tab-active {
  background-color: #F3F6C7;
  border: 2px dashed #A42920;
  color: #A42920;
  border-bottom: none;
  font-weight: 600;
  z-index: 10;
}

.tab-active:hover {
  cursor: default;
}

#tab-btn {
  display: none;
}

/*ACCORDION ARTICLES*/

.section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 92%;
}

.acc-content {
  display: none;
}

.acc-content-active {
  display: flex;
  height: 40vw;
  order: 2;
  padding: 30px;
  width: 100%;
  border: 2px dashed #A42920;
  border-top: none;
  background-color: #f3f6c7;
}

.placeholder {
  align-self: center;
  height: 50%;
  background-color: #86a7a2f7;
  border: 1px solid #86A7A2;
  border-radius: 2px;
  transition: 0.5s;
  /* border: 2px solid #D1D2D3; */
  box-shadow: 1px 3px 10px 2px #00000075;
}

.placeholder:hover {
  cursor: pointer;
  background-color: #86a7a2f7;
  border: 5px solid #86A7A2;
  border-radius: 2px;
  transform: scale(1.05);
  transition: 0.5s;
}

.play-btn,
.pause-btn {
  display: none;
  align-self: center;
  position: absolute;
  margin-top: 10px;
  height: 10%;
  width: 10%;
}

.close-btn {
  display: none;
  position: absolute;
  top: 10%;
  right: 5%;
  height: 60px;
  padding: 0;
  width: 60px;
  z-index: 100;
  background: none;
  background-image: url('./assets/bowling-close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 25%;
  cursor: pointer;
}

.crash-effect {
  position: relative;
  bottom: -60%;
  right: 40%;
  height: 0px;
  padding: 0;
  width: 0px;
  z-index: 100;
  animation: crash 2s 1;
  opacity: 1;
}

@keyframes crash {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
    bottom: 15px;
    right: 25px;
    height: 50px;
    width: 50px;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    bottom: -60%;
    right: 40%;
    transform: scale(0.2);
  }
}

@keyframes enlarge-video {
  0% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}

.acc-text {
  height: 90%;
  overflow: scroll;
  padding: 25px 0 0 40px;
  width: 60%;
}

h3 {
  margin-bottom: 30px;
  font-size: 3vw;
  font-family: 'Sancreek', cursive;
  color: #A42920;
}

.acc-text hr {
  margin-bottom: 35px;
  border: 1px dashed #A42920;
}

.acc-text p {
  margin-bottom: 45px;
  color: #582f2d;
  font-family: 'Raleway', sans-serif;
  font-size: 1.8vw;
  line-height: 1.4;
}

.acc-text p:nth-of-type(2) {
  margin-bottom: 0;
}

.video-player-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* background-image: url('./assets/OLD-SCHOOL-TV.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */
  /* border-image: url('./assets/OLD-SCHOOL-TV.png') 0 0 0 0 round; */
}

.video-player-video {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 915px) {
  .section-h2 {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 770px) {
  main {
    padding: 60px 45px;
  }
}

@media screen and (max-width: 700px) {

  main {
    position: relative;
    z-index: 0;
  }

  header {
    flex-direction: column;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    z-index: 20;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .header-hr {
    display: block;
    height: 1px;
    margin-bottom: 20px;
    width: 20%;
    background-color: #3F3244;
    border: none;
  }

  .student-name {
    font-size: 20px;
  }

  .section-container {
    border: 2px solid #D1D2D3;
    border-top: none;
  }

  .section-header {
    flex-direction: column;
  }

  .section-h2 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .white-russian {
    margin-bottom: 20px;
  }

  .section-header hr {
    width: 20%;
  }

  .tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 1;
    width: 100%;
    border: none;
    border-bottom: 2px solid #FFF;
    font-size: 20px;
  }

  .tab:nth-of-type(1) {
    border-top: 2px solid #D1D2D3;
  }

  .tab:nth-of-type(5) {
    border-right: none;
  }

  .tab-active {
    border-top: 2px solid #D1D2D3;
    border-bottom: 2px solid #D1D2D3;
  }

  .tab:nth-of-type(5).tab-active {
    border-right: none;
  }

  #tab-btn {
    display: block;
  }

  .acc-content-active {
    display: flex;
    flex-direction: column;
    height: 100%;
    order: 1;
    padding: 0;
    border: none;
  }

  .placeholder {
    height: 160px;
    width: 100%;
    border: none;
    box-shadow: none;
  }

  .placeholder:hover {
    border: none;
    transform: scale(1);
  }

  .play-btn {
    display: block;
  }

  .acc-text {
    height: 100%;
    padding: 25px;
    width: fit-content;
  }

  .acc-text-h3 {
    font-size: 25px;
  }

  .acc-text p {
    font-size: 18px;
    line-height: 1.5;
  }
}
