* {
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 65px 70px;
  animation: drop-down 2s 1;
  position: absolute;
}

h1,
h2,
h3,
p,
hr {
  margin: 0;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 85px;
  width: 92%;
}

.section-h2 {
  font-family: 'Ewert', cursive;
  font-size: 3vw;
  font-weight: 300;
}

.white-russian {
  height: 100px;
  width: 100px;
}

.section-header hr {
  height: 0.5px;
  width: 45%;
  border: 0.5px dashed #A42920;
}

/*TABs*/

.tab {
  padding: 30px 25px 20px 25px;
  flex-grow: 2;
  background-color: #F1F1F2;
  border: 2px solid #FFFFFF;
  border-left: none;
  border-bottom: 2px dashed #A42920;
  color: #582f2d;
  font-family: 'Sancreek', cursive;
  font-size: 2.5vw;
  font-weight: 300;
  text-align: center;
  z-index: 0;
}

.tab:nth-of-type(5) {
  border-right: none;
}

.tab:nth-of-type(5).tab-active {
  border-right: 2px dashed #A42920;
  color: #A42920;
}

.tab:hover {
  cursor: pointer;
  opacity: 0.8;
}

.tab-active {
  background-color: #F3F6C7;
  border: 2px dashed #A42920;
  border-bottom: none;
  color: #A42920;
  font-weight: 600;
  z-index: 10;
}

.tab-active:hover {
  cursor: default;
  opacity: 1;
}

#tab-btn {
  display: none;
}

/*ACCORDION ARTICLES*/

.section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 92%;
}

.acc-content {
  display: none;
}

.acc-content-active {
  display: flex;
  height: 40vw;
  order: 2;
  padding: 30px;
  width: 100%;
  border: 2px dashed #A42920;
  border-top: none;
  background-color: #f3f6c7;
}

.placeholder {
  align-self: center;
  height: 50%;
  background-color: #86a7a2f7;
  border: 1px solid #86A7A2;
  border-radius: 2px;
  transition: 0.5s;
  box-shadow: 1px 3px 10px 2px #00000075;
}

.placeholder:hover {
  cursor: pointer;
  background-color: #86a7a2f7;
  border: 5px solid #86A7A2;
  border-radius: 2px;
  transform: scale(1.05);
  transition: 0.5s;
}

.play-btn,
.play-btn-mobile {
  display: none;
  position: absolute;
  align-self: center;
  bottom: 45vh;
  left: 38vw;
  height: 10%;
  width: 10%;
}

.play-btn-mobile {
  position: relative;
  bottom: 0;
  left: 0;
  top: 100px;
}

.play-btn:hover {
  cursor: pointer;
}

.close-btn {
  display: none;
  position: absolute;
  right: 5vw;
  margin-top: 20px;
  height: 60px;
  padding: 0;
  width: 60px;
  z-index: 100;
  background: none;
  background-image: url('./assets/bowling-close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 25%;
  outline: none;
}

.close-btn:hover {
  cursor: pointer;
}

.crash-effect {
  position: relative;
  bottom: -60%;
  right: 40%;
  height: 0px;
  padding: 0;
  width: 0px;
  animation: crash 2s 1;
  opacity: 1;
  z-index: 100;
}

.acc-text {
  height: 90%;
  overflow: scroll;
  padding: 25px 0 0 40px;
  width: 60%;
}

h3 {
  margin-bottom: 30px;
  font-size: 3vw;
  font-family: 'Sancreek', cursive;
  color: #A42920;
}

.acc-text hr {
  margin-bottom: 35px;
  border: 1px dashed #A42920;
}

.acc-text p {
  margin-bottom: 45px;
  color: #582f2d;
  font-family: 'Raleway', sans-serif;
  font-size: 1.8vw;
  line-height: 1.4;
}

.acc-text p:nth-of-type(2) {
  margin-bottom: 0;
}

.video-player-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.video-player-video {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 915px) {
  .section-h2 {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 770px) {
  main {
    padding: 60px 45px;
  }
}

@media screen and (max-width: 700px) {

  main {
    position: relative;
    z-index: 0;
  }

  .section-container {
    border: 2px dashed #A42920;
    border-top: none;
  }

  .section-header {
    flex-direction: column;
  }

  .section-h2 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .white-russian {
    margin-bottom: 20px;
  }

  .section-header hr {
    width: 20%;
  }

  .tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 1;
    width: 100%;
    border: none;
    border-bottom: 2px solid #FFF;
    font-size: 20px;
  }

  .tab:nth-of-type(1) {
    border-top: 2px dashed #A42920;
  }

  .tab:nth-of-type(5) {
    border-right: none;
  }

  .tab-active {
    border-top: 2px dashed #A42920;
    border-bottom: 2px dashed #A42920;
  }

  .tab-active:hover,
  .tab:hover,
  .play-btn:hover,
  .close-btn:hover {
    cursor: default;
    opacity: 1;
  }

  .tab:nth-of-type(5).tab-active {
    border-right: none;
  }

  #tab-btn {
    display: block;
  }

  .acc-content-active {
    display: flex;
    flex-direction: column;
    height: 100%;
    order: 1;
    padding: 0;
    border: none;
  }

  .placeholder {
    height: 160px;
    width: 100%;
    border: none;
    box-shadow: none;
  }

  .placeholder:hover {
    cursor: default;
    border: none;
    transform: scale(1);
  }

  .acc-text {
    height: 100%;
    padding: 25px;
    width: fit-content;
  }

  .acc-text-h3 {
    font-size: 25px;
  }

  .acc-text p {
    font-size: 18px;
    line-height: 1.5;
  }
}

/* Animations */

@keyframes crash {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
    bottom: 15px;
    right: 25px;
    height: 50px;
    width: 50px;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    bottom: -60%;
    right: 40%;
    transform: scale(0.2);
  }
}

@keyframes drop-down {
  0% {
    bottom: 100vh;
  }
  100% {
    bottom: 16vh;;
  }
}

@keyframes enlarge-video {
  0% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
